<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    
    <link rel="stylesheet" href={%static 'css/Market.css'%}>
    <link rel="stylesheet" href={%static 'css/Nav.css'%}>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

  
    <p class="phones-nav-open"><img src="{% static 'images/menu.png'%}"></p>
     <p class="phones-nav-close"><img src="{% static 'images/close.png'%}"></p>
     
    <nav class="navbar">
       
        <ul>
            
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'market'%}">Market</a></li>
            <li><a id="serviceClick" style='cursor: pointer;' href="{% url 'home'%}">Services</a></li>
            <li><a id="contactClick" style='cursor: pointer;' href="{% url 'home'%}">Get in touch</a></li>

            <li class="margin-left"><p class="dark-mode-toggle" id="dark-mode-toggle">
                <img src={%static 'images/bothmodes.png'%} class="light-mode">
                

            </p></li>
            
            
        </ul>
        
    </nav>

  
    <br></br>

    <ul class="jumpTo">
        <li>Invisible Friends Collection</li>
        <li>Isekai Collection</li>
        <li>Otherdeed Collection</li>
        <li>DigiDaigaku Genesis Collection</li></ul>
    <br></br>
    <br></br>
    <h1>Invisible Friends Collection</h1>
<div class="align-box">
<div class="overflow">
    <div class="boxing">
        {% for x in Invisible %}
        <div class="boxes">
            <div class="box-content">
            <h1>{{x.name}}</h1>
         
            <a class="boxImages"><img src={{x.image.url}}/></a>
                <br></br>
                <div class="price-svg">
                <div class="price-container">{{x.price}}</div>
         
                </div>
            </div>
        </div>
    
        {% endfor %}
    
</div> 

    </div>
    
    </div>    
    <br></br>
    <h1>Isekai Collection</h1>
    <div class="align-box">

    <div class="overflow">

    <div class="boxing">
        {% for x in Isekai %}
        <div class="boxes">
            <div class="box-content">
            <h1>{{x.name}}</h1>
         
            <a class="boxImages"><img src={{x.image.url}}/></a>
                <br></br>
                <div class="price-svg">
                <div class="price-container">{{x.price}}</div>
         
                </div>
            </div>
        </div>
        {% endfor %}
    
        </div>  
    
    </div> 
</div>   
    </div>  
    
    <br></br>
    <h1>Otherdeed Collection</h1>
    <div class="align-box">

    <div class="overflow">

    <div class="boxing">
        {% for x in Otherdeed %}
        <div class="boxes">
            <div class="box-content">
            <h1>{{x.name}}</h1>
         
            <a class="boxImages"><img src={{x.image.url}}/></a>
                <br></br>
                <div class="price-svg">
                <div class="price-container">{{x.price}}</div>
         
                </div>
            </div>
        </div>
        {% endfor %}
    
        </div>  
    
    </div> 
</div>   
    </div>  
    <br></br>
    <h1>DigiDaigaku Genesis Collection</h1>
    <div class="align-box">

    <div class="overflow">

    <div class="boxing">
        {% for x in DigiDaigaku %}
        <div class="boxes">
            <div class="box-content">
            <h1>{{x.name}}</h1>
         
            <a class="boxImages"><img src={{x.image.url}}/></a>
                <br></br>
                <div class="price-svg">
                <div class="price-container">{{x.price}}</div>
         
                </div>
            </div>
        </div>
        {% endfor %}
    
        </div>  
    
    </div> 
</div>   
    </div>  
    
    {%include 'MainParts/Footer.html'%}
    <script src={%static 'js/Nav.js'%}></script>
</body>
</html>


