.footer-container {
    background-color: transparent;
    width: 100%;    
    display: flex;
    justify-content: center;
}

.footer-items {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.footer-items h3 {
        
    text-align: center;    
    background: #5800FF;
    background: linear-gradient(to right, #5800FF 0%, #E900FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;

}

#click { 

    margin: 15px;   
    position: fixed;
    right: 0;
    bottom: 0;

}

#click img {
        
        width: 50px;
        height: 50px;
}